<html>
<head>
    <!--
                   ______            _
       _  ___   __/ ____/___  ____ _(_)___  ___
      | |/_/ | / / __/ / __ \/ __ `/ / __ \/ _ \
     _>  < | |/ / /___/ / / / /_/ / / / / /  __/
    /_/|_| |___/_____/_/ /_/\__, /_/_/ /_/\___/
                           /____/
    Powered by: Krzysztof Bednarczyk
    -->
    <meta charset="utf-8">
    <title>xvEngine Demo</title>
    {% for file in css %}
        <link rel="stylesheet" type="text/css" href="{{ asset(file) }}">
    {% endfor %}
    <meta name="viewport" content="width=device-width,  initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
</head>
<body>

{% for file in js %}
    <script type="text/javascript" src="{{ asset(file) }}" defer></script>
{% endfor %}

<script>
    window.addEventListener("load", function () {
        (new application.bootstrap({{ bootstrapConfig|json_encode()|raw }})).init();
    }, false);
</script>

</body>
</html>