<div class="navbar navbar-inverse">
    <div class="container">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand xv-request" href="/demo/">
                xvEngine Demo
            </a>
        </div>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse">
            <navigation></navigation>
        </div>
    </div>
</div>


<div class="container xv-content" >

</div>

